.linea{
    grid-area: linea;
    background-color: rgb(61, 2, 61);
    color: white;
    text-align: end;
}

body{
    color: black;
}

.nav li a:Hover{
    border-bottom: solid;
    border-bottom-color: grey;
    background-color: whitesmoke;
}

.third{
    grid-area: third;
    background-color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.footer{
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 10px;
}

.footer div{
    float: left;
}
.foot{
    width: 25%;
    
    
}
.foot li a{
    color: white;
    text-decoration: none;  

}

#textarea{
    background-color:  rgb(14, 12, 12);
    text-align: start;
    color: silver;

}


.enda{
    grid-area: enda;
    background-color: rgb(14, 12, 12);
    color: white;
    width: 100%;
}
#smallend{
    margin-left: 75%;
}